*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color
.container
  max-width: 1110px
  margin: auto
input, button
  outline: none

img
  max-width: 100%

h1,h2,h3,h4,h5,h6,p
  margin: 0 auto
